{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "bin",
            "src"
        ]
    },
    "logs": {
        "text": "var/log/infection.log",
        "stryker": {
            "report": "/^release-.*$/"
        }
    },
    "tmpDir": "var/cache/infection",
    "minMsi": 100,
    "minCoveredMsi": 100,
    "mutators": {
        "@default": true
    }
}
